@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
 h1{
  font-family: 'Audiowide', sans-serif;
 }

 .logo{
  font-family: 'Audiowide', sans-serif;
 }

::-webkit-scrollbar-button{
  width: 0px;
}


/* NAVBAR GRADIENT*/

.btn-gradient{
  background: linear-gradient(94.2deg, #FA29A9 3.58%, #37D5D5 47.86%, #00A3FF 97.62%);
}

/* NAVBAR HAMBURGER MENU BUTTON */

@media only screen and (max-width: 768px) and (min-width: 300px){
  .hamburger-menu-button {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    z-index: 3;
    top: 3.75rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 3.75rem);
    background-color: #110934;
    color: white;

  }
  .navigation-menu li{
    text-align: center;
  }

  .navigation-menu.expanded ul{
    display: block;
  }
}

/* Button Gradient*/
.border-gradient{
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(12, 0, 67, 0), rgba(12, 0, 67, 1)), linear-gradient(101deg, #876CFF, #2F00FE, #7056E4);
  position: relative;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0C0043 inset;
}
.border-2-gradient{
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(12, 0, 67, 0), rgba(12, 0, 67, 1)), linear-gradient(101deg, #876CFF, #2F00FE, #7056E4);
  position: relative;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.card-btn-gradient{
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(12, 0, 67, 0), rgba(12, 0, 67, 1)), linear-gradient(101deg, #48EFE5, #FF23A7, #00A3FF);
  position: relative;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0C0043 inset;
}

.collection-gradient-border{
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(12, 0, 67, 0), rgba(12, 0, 67, 1)), linear-gradient(101deg, #876CFF, #2F00FE, #7056E4);
  position: relative;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #08012A inset;
}

/*SLANTED BOXES */
.rectangle{
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), linear-gradient(11deg, #876CFF 100%, #876CFF11 0%, #876CFF 56%, #6C4AFF 100%);
  position: relative;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0C0043 inset;
}

/* Clock Gradient */

.clock-timer{
  font-size: 32px;
line-height: 39px;
/* identical to box height */

letter-spacing: 0.1em;

background: linear-gradient(90.12deg, #FF23A7 0.07%, #48EFE5 46.94%, #00A3FF 98.67%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}